 /* DASHBOARD */

  #dash {
    font-size: 9pt;
    color: $osd-color;
    background-color: $dash-bg; 
    border: $dash-border; 
    padding: 4px 0;
    border-left: 0px;
    border-radius: $general-radius;

    &:rtl {
      border-radius: $general-radius;
    }

    .placeholder {
      background-image: url("resource:///org/gnome/shell/theme/dash-placeholder.svg");
      background-size: contain;
      height: 24px;
    }

    .empty-dash-drop-target {
      width: 24px;
      height: 24px;
    }

  }

  .dash-item-container > StWidget {
    padding: 4px 8px;
  }

  .dash-label { //osd tooltip
    border-radius: $general-radius;
    padding: 4px 12px;
    color: $osd-color;
    background-color: transparentize($osd-bg,0.3);
    text-align: center;
    -x-offset: 8px;
  }
