/* OVERVIEW */

#overview {
  spacing: 24px; 
  background-color: $overview-bg;
}

.overview-controls {
  padding-bottom: 32px;
}

  .window-picker { //container around window thumbnails
    -horizontal-spacing: 32px;
    -vertical-spacing: 32px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 48px;
    &.external-monitor { padding: 32px; }
  }

  .window-clone-border {
    border: $overview-window-hover-border;
    border-radius: $_radius;
    // For window decorations with round corners we can't match
    // the exact shape when the window is scaled. So apply a shadow
    // to fix that case
    box-shadow: inset 0 0 0 1px $selected_bg_color;
  }
  .window-caption {
    spacing: 25px;
    color: $_third;
    background-color: transparentize($osd-bg,0.3);
    border-radius: $_radius;
    padding: 4px 12px;
    -shell-caption-spacing: 12px;
    &:hover { background-color: $selected_bg_color; color: $stage-color-selected; }
  }

  //search entry
  .search-entry {
    width: 320px;
    padding: 7px 9px;
    border-radius: $_radius;
    border-color: $_borders-color;
    color: $_third;
    background-color: $osd-bg;
    &:focus {
      padding: 6px 8px;
      border-width: 2px;
      border-color: $selected_bg_color;
    }

    .search-entry-icon { icon-size: 1em; padding: 0 4px; color: transparentize($stage-color,.3); }

    &:hover, &:focus {
      .search-entry-icon { color: $stage-color; }
    }
  }

  //search results
  #searchResults {
    border: $search-results-border;
    border-right-width: 0;
    border-left-width:0;
    border-bottom-width: 0; 
    background-color: $search-results-bg;
    padding-top: 2em;
  }

  #searchResultsBin {
    max-width: 1000px;
  }

  #searchResultsContent {
    padding-left: 20px;
    padding-right: 20px;
    spacing: 16px;
  }

  .search-section { spacing: 16px; } // This should be equal to #searchResultsContent spacing
  .search-section-content { spacing: 32px; } // This is the space between the provider icon and the results container
  .search-statustext { // "no results"
    @extend %status_text;
  }
  .list-search-results { spacing: 3px; }

  .search-section-separator {
    -gradient-height: 1px;
    -gradient-start: rgba(255,255,255,0);
    -gradient-end: rgba(255,255,255,0.1);
    -margin-horizontal: 1.5em;
    height: 1px;
  }

  .list-search-result-content { spacing: 12px; padding: 12px; }
  .list-search-result-title { font-size: 1.5em; color: darken($_third,5%); }
  .list-search-result-description { color: darken($_third,15%); }
  .search-provider-icon { padding: 15px; }
  .search-provider-icon-more {
    width: 16px;
    height: 16px;
    background-image: url("resource:///org/gnome/shell/theme/more-results.svg");
  }

  /* App Vault/Grid */
  .icon-grid {
    spacing: 30px;
    -shell-grid-horizontal-item-size: 136px;
    -shell-grid-vertical-item-size: 136px;

    .overview-icon { icon-size: 96px; }
  }
  //.app-display { spacing: 20px; }

  .app-view-controls { //favorties | all toggle container
    padding-bottom: 32px;
  }
  .app-view-control { //favorties | all toggle button
    padding: 4px 32px;
    &:checked { @include button(active); }
    &:first-child {
      border-right-width: 0;
      border-radius: $_radius 0 0 $_radius;
    }
    &:last-child {
     border-radius: 0 $_radius $_radius 0;
    }
  }

  //Icon tile
  .search-provider-icon,
  .list-search-result {
    @extend %icon_tile;
    &:active, &:checked { background-color: transparentize(darken($osd-bg,10%),.1); }
    &:focus, &:selected, &:hover {
      background-color: transparentize($_third,.9);
      transition-duration: 200ms;
    }
  }
  .app-well-app,
  .app-well-app.app-folder,
  .show-apps,
  .grid-search-result {
    & .overview-icon {
      @extend %icon_tile;
    }
    &:active .overview-icon,
    &:checked .overview-icon {
      background-color: transparentize(darken($osd-bg,10%),.1);
      box-shadow: inset 0 1px 2px $_borders-color;
    }
    &:hover .overview-icon,
    &:focus .overview-icon,
    &:selected .overview-icon {
      background-color: transparentize($_third,.9);
      transition-duration: 300ms;
      border-image: none;
      background-image: none;
    }

  }

  .app-well-app-running-dot { //running apps indicator
    width: 10px; height: 3px;
    background-color: $selected_bg_color;
    margin-bottom: 2px;
  }

  %icon_tile {
    color: $_third;
    border-radius: $_radius;
    padding: 6px;
    border: 1px solid transparent;
    transition-duration: 100ms;
    text-align: center;
  }

  .app-well-app.app-folder > .overview-icon {
    background-color: transparentize($osd-bg,.6);
  }

  .show-apps:checked .show-apps-icon,
  .show-apps:focus .show-apps-icon {
    color: white;
    transition-duration: 100ms;
  }


  // Collections
  .app-folder-popup { //expanded collection
    -arrow-border-radius: $_radius;
    -arrow-background-color: transparentize($osd-bg,0.7);
    -arrow-base: 24px;
    -arrow-rise: 11px;
  }
  .app-folder-popup-bin { padding: 5px; }
  .app-folder-icon {
    padding: 5px;
    spacing-rows: 5px;
    spacing-columns: 5px;
  }

  .page-indicator {
    padding: 15px 20px;

    .page-indicator-icon {
      width: 18px;
      height: 18px;
      background-image: none;
      background-color: $page-indicator-bg;
      border: $page-indicator-border;
      border-radius: $_radius;
    }

    &:hover .page-indicator-icon { border: $page-indicator-border-hover; }
    &:active .page-indicator-icon { border: $page-indicator-border-active; }
    &:checked .page-indicator-icon { border: $page-indicator-border-checked;}
    &:checked:active { }
  }

  .no-frequent-applications-label { @extend %status_text; }

  .app-well-app > .overview-icon.overview-icon-with-label,
  .grid-search-result .overview-icon.overview-icon-with-label {
    padding: 10px 8px 5px 8px;
    spacing: 4px;
  }

  
  //Some hacks I don't even
  .search-display > StBoxLayout,
  .all-apps,
  .frequent-apps > StBoxLayout {
    // horizontal padding to make sure scrollbars or dash don't overlap content
    padding: 0 88px 10px 88px;
  }



%status_text {
  font-size: 2em;
  font-weight: bold;
  color: $stage-color;
}