// Workspace pager
  .workspace-thumbnails { //container ala dash
    border: $workspaces-border;
    background-color: $workspaces-bg;
    border-right-width: 0;
    visible-width: 32px; //amount visible before hover
    spacing: 11px;
    padding: 8px;
    border-radius: $general-radius;
    border-width: 1px 0 1px 1px; //fixme: can't have non unoform borders :(
    &:rtl { border-radius: $general-radius;}
  }
  .workspace-thumbnail-indicator {
    border: $overview-workspace-thumb-active-border;
    padding: 1px;
  }
