/*
 * Theme vars
 */
$_primary: get(orange, base); // main tone
$_secondary: get(mono, black); // popups etc
$_third: get(mono, white); // overview and osd 
$_fourth: get(orange, light); // search //ws and window frame 

$_error: lighten(get(red, base), 10%); 
$_warning: get(yellow, base);

$_borders-color: get(mono, black);  
$_borders-width: 2px; 
$_borders: $_borders-width solid $_borders-color;

$_radius: 0;                   // below is for buttons
$_radius-hack: $_radius + 0.3; // has to manually be adjusted
$_panel-corner: false; // show corner

/*
 *
 *
 *
 *
 *
 *
 * Globals
 */
$font-size: 10;
$font-family: Cantarell, Sans-Serif;

$stage-color: $_secondary; 
$stage-color-selected: $_primary;
$selected_bg_color: $_secondary;
$selected_borders_color: darken($selected_bg_color, 20%);

/*
 *
 *
 *
 *
 *
 *
 * Top Panel
 */
$top-panel-height: 1.5em; 
$top-panel-bg: transparentize($_secondary, 0.4);
$top-panel-font-weight: lighter; 
$top-panel-border: $_borders;

$top-panel-corner-bg: $top-panel-bg;
$top-panel-corner-bg-active: transparentize($_primary, 0.4);
$top-panel-corner-radius: if($_panel-corner, $_radius * 10, 0);
$top-panel-corner-border-width: $_borders-width;
$top-panel-corner-border-color: $_borders-color;
$top-panel-corner-border-color-active: $_borders-color;

$panel-button-color: $_primary;
$panel-button-color-hover: lighten($_primary, 10%);
$panel-button-color-active: lighten($_primary, 20%);
$panel-button-out-color: get(mono, gray-base);

$panel-activities: $_primary url("./gnome-icon-black.png") no-repeat center center!important;
$panel-activities-hover: lighten($_primary, 10%)!important;
$panel-activities-active: lighten($_primary, 20%)!important;
$panel-activities-overview: lighten($_primary, 30%)!important;

$ripple-bg: transparentize($_secondary, 0.2);
$ripple-radius: 0 20px 50px 20px;

//conf, lock and turn off icons
$sys-menu-buttons-color: transparentize($stage-color,0.6);
$sys-menu-buttons-color-hover: transparentize($stage-color,0);

$sys-menu-buttons-bg-hover: transparentize($_third, 0.9);
$system-menu-icons-border: none; // 1px solid transparentize($_borders-color, 0.4);
$system-menu-icons-border-hover: none; // 1px solid transparentize($_borders-color, 0.4);

/*
 *
 *
 *
 *
 *
 *
 * Overview
 */ 
$overview-bg: transparentize(lighten($_primary, 0%), 0.7);
$overview-window-hover-border: $_borders-width * 2 solid $_borders-color;

/*
 *
 *
 *
 *
 *
 *
 * Dash
 */ 
$dash-bg: lighten(transparentize($_primary, 0.4), 10%);
$dash-border: $_borders; 

/*
 *
 *
 *
 *
 *
 *
 * Workspaces
 */ 
$workspaces-bg: lighten(transparentize($_primary, 0.4), 10%);
$workspaces-border: $_borders;
$overview-workspace-thumb-active-border: $_borders-width * 3 solid $_borders-color;

/*
 *
 *
 *
 *
 *
 *
 * Search results
 */ 
$search-results-bg: transparentize(mix($_primary, $_fourth, 70%), 0.6);
$search-results-border: $_borders;

/*
 *
 *
 *
 *
 *
 *
 * OSD
 */ 
$osd-color: $_third; 
$osd-bg: $_primary;
 
/*
 *
 *
 *
 *
 *
 *
 * Modals
 */ 
$modal-bg: transparentize($_primary, 0.2);  
$modal-border: $_borders;
 
/*
 *
 *
 *
 *
 *
 *
 * Popups
 */ 
$popup-bg: transparentize($_primary, 0.05);
$popup-sub-menu-bg: transparentize($_fourth, 0.6); 
$popup-border-color: $_borders-color;
$popup-border-width: $_borders-width;
 
/*
 *
 *
 *
 *
 *
 *
 * Buttons
 */
$button-color: $_primary;
$button-color-active: lighten($button-color, 15%);
$button-color-focus: lighten($button-color, 15%); // warning queda bien
$button-color-hover: lighten($button-color, 10%);
$button-color-instensitive: get(mono, gray-base);

$button-bg: $_secondary;
$button-bg-active: $_secondary;
$button-bg-focus: $_secondary;
$button-bg-hover: $_secondary;
$button-bg-instensitive: get(mono, gray-base);

$button-border: $_borders-color;
$button-border-focus: $_borders-color;
$button-border-hover: $_borders-color;
$button-border-active: $_borders-color;
$button-border-insensitive: $_borders-color;

/*
 *
 *
 *
 *
 *
 * 
 * Entries 
 */
$entries-bg: lighten($_primary, 20%); 
$entries-border-color: transparentize($_borders-color, 0.1);
$entries-border-color-focus:  transparentize($_borders-color, 0);
$entries-border-color-hover:  transparentize($_borders-color, 0.2);
/*
 *
 *
 *
 *
 *
 *
 * Close Buttons
 */
$close-border: $_borders-width * 2 solid $_borders-color;
$close-border-hover: $close-border;
$close-border-rtl: $close-border;
$close-bg: transparentize($_error, 0.2);
$close-bg-hover: $_error;

/*
 *
 *
 *
 *
 *
 *
 * Page indicator
 */
$page-indicator-bg: $_primary; 
$page-indicator-border: 2px solid transparentize($_borders-color, 0.4);
$page-indicator-border-hover: 2px solid transparentize($_borders-color, 0.3);
$page-indicator-border-active: 2px solid transparentize($_borders-color, 0.2);
$page-indicator-border-checked: 2px solid transparentize($_borders-color, 0.1);
 
/*
 *
 *
 *
 *
 *
 *
 * Slider
 */ 
$slider-bg: darken($_primary, 10%);
$slider-border-width: 1px;
$slider-border-color: $_secondary;
$slider-active-bg: lighten($_primary, 10%);;
$slider-active-border-color: $_secondary;
 
/*
 *
 *
 *
 *
 *
 *
 * Looking Glass
 */
$lg-radius: $_radius;
$lg-bg: transparentize($_secondary, 0.1);
$lg-border: $_borders;
$lg-toolbar-border: lighten($_primary, 30%);
 
$lg-prop-insp-bg: transparentize($_secondary, 0.1);
$lg-prop-insp-color: $_primary;
$lg-obj-inspector-title-color: darken($_primary, 10%);

/*
 *
 *
 *
 *
 *
 *
 * Special
 */
$insensitive-color: mix($stage-color, $overview-bg, 50%);
$insensitive-background: mix($overview-bg, $stage-color, 60%);
$insensitive_borders_color: $_borders;

$borders_edge: transparentize($stage-color, 0.9);
$link_color: lighten($selected_bg_color,20%);
$link_visited_color: lighten($selected_bg_color,10%);
$top_hilight: $borders_edge; 

//colors for the backdrop state, derived from the main colors.
$backdrop_base_color: lighten($stage-color,1%);
$backdrop_bg_color: $overview-bg;
$backdrop_fg_color: mix($stage-color, $backdrop_bg_color, 80%);
$backdrop_insensitive_color: lighten($backdrop_bg_color,15%);
$backdrop_borders_color: mix($_borders-color, $overview-bg, 90%);
$backdrop_dark_fill: mix($backdrop_borders_color,$backdrop_bg_color, 35%);