/*
 * Theme vars
 */
$_primary: get(blue, base); // main tone
$_secondary: get(mono, black); // popups etc
$_third: get(mono, white); // overview and osd 
$_fourth: get(green, base); // search 

$_borders-color: get(mono, black);  
$_borders-width: 2px; 
$_borders: $_borders-width solid $_borders-color;

$_radius: 0;

$_error: get(red, base); //TODO
$_warning: get(yellow, base);

/*
 *
 *
 *
 *
 *
 *
 * Globals
 */
$font-size: 10;
$font-family: Cantarell, Sans-Serif;

$stage-color: $_secondary; 
$stage-color-selected: $_primary;
$selected_bg_color: $_secondary;
$selected_borders_color: darken($selected_bg_color, 20%);


$warning_color: get(yellow, base);
$error_color: get(red, base);
$success_color: get(green, base);
$destructive_color: get(red, dark); 

/*
 *
 *
 *
 *
 *
 *
 * Top Panel
 */
$top-panel-bg: transparentize($_secondary, 0.4);
$top-panel-font-weight: lighter; 
$top-panel-border: $_borders;

$panel-button-color: $_primary;
$panel-button-color-hover: lighten($_primary, 10%);
$panel-button-color-active: lighten($_primary, 20%);
$panel-button-out-color: get(mono, gray-base);

$panel-activities: $_primary url("gnome-icon-black.png") no-repeat center center!important;

$panel-activities-hover: lighten($_primary, 10%)!important;
$panel-activities-active: lighten($_primary, 20%)!important;
$panel-activities-overview: lighten($_primary, 30%)!important;

$ripple-bg: transparentize($_secondary, 0.2);
$ripple-radius: 0 20px 50px 20px;

//conf, lock and turn off icons
$sys-menu-buttons-color: transparentize($stage-color,0.9);
$sys-menu-buttons-color-hover: transparentize($stage-color,0.1);

$sys-menu-buttons-bg-hover: transparentize($_third, 0.9);
$system-menu-icons-border: 1px solid transparentize($_borders-color, 0.9);
$system-menu-icons-border-hover: 1px solid transparentize($_borders-color, 0.4);
/*
 *
 *
 *
 *
 *
 *
 * Dash
 */ 
$dash-bg: transparentize($_primary, 0.2);
$dash-border: $_borders;

/*
 *
 *
 *
 *
 *
 *
 * Workspaces
 */ 
$workspaces-bg: transparentize($_secondary, 0.9);
$workspaces-border: $_borders;

/*
 *
 *
 *
 *
 *
 *
 * OSD
 */ 
$osd-color: $_third; 
$osd-bg: $_primary;
 
/*
 *
 *
 *
 *
 *
 *
 * Modals
 */ 
$modal-bg: transparentize($_primary, 0.2);  
$modal-border: $_borders;
 
/*
 *
 *
 *
 *
 *
 *
 * Overview
 */ 
$overview-bg: transparentize($_primary, 0.5);
$overview-workspace-thumb-active-border: $_borders-width * 2 solid $_secondary;
$overview-window-hover-border: $_borders-width * 2 solid $_secondary;

/*
 *
 *
 *
 *
 *
 *
 * Popups
 */ 
$popup-bg: transparentize($_primary, 0.05);
$popup-sub-menu-bg: transparentize($_secondary, 0.6); 
$popup-border-color: $_borders-color;
$popup-border-width: $_borders-width;
 
/*
 *
 *
 *
 *
 *
 *
 * Search results
 */ 
$search-results-bg: transparentize($_fourth, 0.4);
$search-results-border: $_borders;

/*
 *
 *
 *
 *
 *
 *
 * Buttons
 */

$button-color: $_primary;
$button-color-active: $_third;
$button-color-focus: $warning_color;

$button-bg: $_secondary;
$button-bg-active: lighten($_secondary, 2%);



$button-border: get(mono, black);
$button-border-focus: get(mono, black);
$button-border-hover: transparentize($button-border, 0.5);
$button-border-active: get(mono, black);
$button-border-insensitive: get(mono, black);
  /*
  *useles ??
  */
  $button-bg-focus: darken($_fourth, 5%); //> useless?
  $button-bg-hover: get(yellow, light); //> useless?
  $button-color-hover: get(red, base); //> useless?

  $button-color-instensitive: get(mono, gray-base);
  $button-bg-instensitive: get(mono, gray-base);
/*
 *
 *
 *
 *
 *
 * 
 * Entries 
 */
$entries-bg: lighten($_primary, 20%); 
$entries-border-color: transparentize($_borders-color, 0.1);
$entries-border-color-focus:  transparentize($_borders-color, 0);
$entries-border-color-hover:  transparentize($_borders-color, 0.2);
/*
 *
 *
 *
 *
 *
 *
 * Close Buttons
 */
$close-border: 4px solid transparentize($_error, 0.4);
$close-border-hover: 4px solid transparentize($_error, 0.3);
$close-border-rtl: 5px solid transparentize($_error, 0.4);
$close-bg: transparentize($_error, 0.2);
$close-bg-hover: transparentize($_error, 0.1);

/*
 *
 *
 *
 *
 *
 *
 * Page indicator
 */
$page-indicator-bg: $_primary; 
$page-indicator-border: 2px solid transparentize($_borders-color, 0.4);
$page-indicator-border-hover: 2px solid transparentize($_borders-color, 0.3);
$page-indicator-border-active: 2px solid transparentize($_borders-color, 0.2);
$page-indicator-border-checked: 2px solid transparentize($_borders-color, 0.1);
 
/*
 *
 *
 *
 *
 *
 *
 * Slider
 */
$slider-bg: gray;
$slider-border-width: 1px;
$slider-border-color: black;
$slider-active-bg: red;
$slider-active-border-color: black;
 
/*
 *
 *
 *
 *
 *
 *
 * Looking Glass
 */
$lg-radius: 0;
$lg-bg: transparentize(get(red, base), 0.1);
$lg-border: 2px solid grey;
$lg-toolbar-border: 2px solid grey;
 
$lg-prop-insp-bg: get(red, base);
$lg-prop-insp-color: $_primary;
$lg-obj-inspector-title-color: black;

/*
 *
 *
 *
 *
 *
 *
 * Special
 */
$insensitive-color: mix($stage-color, $overview-bg, 50%);
$insensitive-background: mix($overview-bg, $stage-color, 60%);
$insensitive_borders_color: $_borders;

$borders_edge: transparentize($stage-color, 0.9);
$link_color: lighten($selected_bg_color,20%);
$link_visited_color: lighten($selected_bg_color,10%);
$top_hilight: $borders_edge; 

//colors for the backdrop state, derived from the main colors.
$backdrop_base_color: lighten($stage-color,1%);
$backdrop_bg_color: $overview-bg;
$backdrop_fg_color: mix($stage-color, $backdrop_bg_color, 80%);
$backdrop_insensitive_color: lighten($backdrop_bg_color,15%);
$backdrop_borders_color: mix($_borders-color, $overview-bg, 90%);
$backdrop_dark_fill: mix($backdrop_borders_color,$backdrop_bg_color, 35%);