/*
 *
 *
 *
 *
 *
 *
 * Globals
 */
$font-size: 10;
$font-family: Cantarell, Sans-Serif;

$stage-color: get(mono, black); 
$stage-color-selected: get(orange, base);
$selected_bg_color: get(mono, black);
$selected_borders_color: darken($selected_bg_color, 20%);

$general-radius: 0;
$general-box-borders-color: get(mono, black);
$general-box-borders-width: 2px;
$general-box-borders: $general-box-borders-width solid $general-box-borders-color;

$warning_color: get(yellow, base);
$error_color: get(red, base);
$success_color: get(green, base);
$destructive_color: get(red, dark); 

/*
 *
 *
 *
 *
 *
 *
 * Top Panel
 */
$top-panel-bg: transparentize(get(mono, black), 0.4);
$top-panel-font-weight: lighter; 
$top-panel-border: $general-box-borders;

$panel-button-color: get(orange, base);
$panel-button-color-hover: get(orange, light);
$panel-button-color-active: get(orange, lighter);
$panel-button-out-color: get(mono, gray-base);

$panel-activities: get(orange, base) url("gnome-icon-black.png") no-repeat center center!important;
$panel-activities-hover: get(orange, light)!important;
$panel-activities-active: get(orange, dark)!important;
$panel-activities-overview: get(orange, lighter)!important;

$ripple-bg: transparentize(get(blue, base), 0.2);
$ripple-radius: 0 20px 50px 20px;

//conf, lock and turn off icons
$sys-menu-buttons-color: transparentize($stage-color,0.9);
$sys-menu-buttons-color-hover: transparentize(get(mono, white),0.9);
$sys-menu-buttons-bg-hover: transparentize(get(blue, base),0.4);
$system-menu-icons-border: 1px solid transparentize($general-box-borders-color,0.9);

/*
 *
 *
 *
 *
 *
 *
 * Dash
 */ 
$dash-bg: transparentize(get(orange, base), 0.2);
$dash-border: $general-box-borders;

/*
 *
 *
 *
 *
 *
 *
 * Workspaces
 */ 
$workspaces-bg: transparentize(get(mono, black), 0.9);
$workspaces-border: $general-box-borders;

/*
 *
 *
 *
 *
 *
 *
 * OSD
 */ 
$osd-color: get(mono, white); 
$osd-bg: get(orange, base);
 
/*
 *
 *
 *
 *
 *
 *
 * Modals
 */ 
$modal-bg: transparentize(get(orange, base), 0.2);  
$modal-border: $general-box-borders;
 
/*
 *
 *
 *
 *
 *
 *
 * Overview
 */ 
$overview-bg: transparentize(get(orange, base), 0.5);
$overview-workspace-thumb-active-border: $general-box-borders-width * 2 solid get(red, base);
$overview-window-hover-border: $general-box-borders-width * 2 solid get(red, base);

/*
 *
 *
 *
 *
 *
 *
 * Popups
 */ 
$popup-bg: transparentize(get(orange, base), 0.05);
$popup-sub-menu-bg: transparentize(get(mono, black), 0.6); 
$popup-border-color: $general-box-borders-color;
$popup-border-width: $general-box-borders-width;
 
/*
 *
 *
 *
 *
 *
 *
 * Search results
 */ 
$search-results-bg: transparentize(get(red, base), 0.6);
$search-results-border: $general-box-borders;

/*
 *
 *
 *
 *
 *
 *
 * Buttons
 */
$button-bg: get(mono, black);
$button-color: get(yellow, base);
$button-bg-focus: get(blue, base);
$button-color-focus: get(red, light);
$button-bg-hover: get(blue, light);
$button-color-hover: get(red, base);
$button-color-active: get(yellow, lighter);
$button-bg-active: get(green, lighter);
$button-color-instensitive: get(mono, gray-base);
$button-bg-instensitive: get(mono, gray-base);

/*
 *
 *
 *
 *
 *
 *
 * Inputs
 */
$input-bg: get(orange, darker);

/*
 *
 *
 *
 *
 *
 *
 * Close Buttons
 */
$close-border: 4px solid get(orange, darker);
$close-border-hover: 4px solid get(orange, darker);
$close-border-rtl: 5px solid lighten(get(orange, darker), 20%);
$close-bg: transparentize(get(red, base),0.4);
$close-bg-hover: transparentize(get(red, darker),0.2);

/*
 *
 *
 *
 *
 *
 *
 * Page indicator
 */
 $page-indicator-bg: red;
 $page-indicator-border: 1px solid black;
 $page-indicator-border-hover: 1px solid blue;
 $page-indicator-border-active: 1px solid yellow;
 $page-indicator-border-checked: 1px solid yellow;
 
/*
 *
 *
 *
 *
 *
 *
 * Slider
 */
$slider-bg: gray;
$slider-border-width: 1px;
$slider-border-color: black;
$slider-active-bg: red;
$slider-active-border-color: black;
 
/*
 *
 *
 *
 *
 *
 *
 * Looking Glass
 */
$lg-radius: 0;
$lg-bg: transparentize(get(red, base), 0.1);
$lg-border: 2px solid grey;
$lg-toolbar-border: 2px solid grey;
 
$lg-prop-insp-bg: get(red, base);
$lg-prop-insp-color: get(orange, base);
$lg-obj-inspector-title-color: black;

/*
 *
 *
 *
 *
 *
 *
 * Special
 */
$insensitive-color: mix($stage-color, $overview-bg, 50%);
$insensitive-background: mix($overview-bg, $stage-color, 60%);
$insensitive_borders_color: $general-box-borders;

$borders_edge: transparentize($stage-color, 0.9);
$link_color: lighten($selected_bg_color,20%);
$link_visited_color: lighten($selected_bg_color,10%);
$top_hilight: $borders_edge; 

//colors for the backdrop state, derived from the main colors.
$backdrop_base_color: lighten($stage-color,1%);
$backdrop_bg_color: $overview-bg;
$backdrop_fg_color: mix($stage-color, $backdrop_bg_color, 80%);
$backdrop_insensitive_color: lighten($backdrop_bg_color,15%);
$backdrop_borders_color: mix($general-box-borders-color, $overview-bg, 90%);
$backdrop_dark_fill: mix($backdrop_borders_color,$backdrop_bg_color, 35%);